<!doctype html>
<html lang="en">
  <head>
    <title>test</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="version" content="0.1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="n/a" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" />
  </head>
  <body>
    <script type="module" src="src/index.js"></script>
    <app></app>
    <noscript>
      Javascript is disabled in your browser.
      <a href="http://www.enable-javascript.com" target="_blank"> Here </a>
      is how to enable it.
    </noscript>
  </body>
</html>
